$default-dark: #131313;
$middle-dark: #1b1b1b;
$light-dark: #3a3a3a;
$light-grey: #929292;

$white: #ffffff;
$black: #000000;
$red: #ff5b5b;

$primary-color: #f5f5f5;
$text-white: #eeeeee;

$transition-time: 0.35s;
