@use "../1-bases/variables" as vars;
@use "../1-bases/mixins" as mixins;
@use "../1-bases/placeholders";

.header {
    @extend %outer-padding;
    position: fixed;
    z-index: 2;
    width: 100vw;
    backdrop-filter: blur(0.25rem);
    background-color: rgba(vars.$primary-color, 0.8);
    transition: transform vars.$transition-time, box-shadow vars.$transition-time,
        background-color vars.$transition-time;

    &--shaded {
        box-shadow: 0 1px 0.5rem rgba(vars.$default-dark, 0.5);
    }

    &--hidden {
        transform: translateY(-101%);
        box-shadow: none;
    }

    &__inner-container {
        @extend %inner-width;
        @include mixins.flex($justify: space-between, $gap: 1rem);
        padding: 1rem 0;
        transition: padding vars.$transition-time;

        @include mixins.media-920 {
            padding: 0.5rem 0;
        }
    }

    &__inner-container--thin {
        padding: 0.5rem 0;
    }

    &__home {
        @include mixins.flex;
        flex-shrink: 0;
        height: 3.5rem;
        width: 3.5rem;
        border-radius: 50%;
        color: vars.$white;
        font-weight: 600;
        font-size: 1.25rem;
        transition: background-color vars.$transition-time,
            box-shadow vars.$transition-time;
    }

    &__nav-box {
        @include mixins.media-920 {
            @include mixins.absolute-position;
            visibility: hidden;
            opacity: 0%;
            z-index: 1;
            height: 100vh;
            width: 100%;
            padding: 1.5rem;
            background: linear-gradient(
                to bottom,
                rgba(vars.$middle-dark, 0.5),
                transparent
            );
            transition: 0.5s;
        }

        &--open {
            opacity: 100%;
            visibility: visible;
        }
    }

    &__navbar {
        flex-shrink: 0;
        @include mixins.media-920 {
            box-shadow: 0.25rem 0.25rem 0.75rem #0000006c;
            background-color: vars.$middle-dark;
            border-radius: 0.75rem;
            padding: 0.5rem;
            transform: translateY(-100%);
            transition: background-color vars.$transition-time, transform 0.5s,
                padding 0.5s 0.35s;
        }

        &--open {
            @include mixins.media-920 {
                padding: 3rem 0.5rem 0.5rem 0.5rem;
                transform: translateY(0);
            }
        }
    }

    &__nav-list {
        @include mixins.media-920 {
            position: relative;
            flex-direction: column;
            background-color: vars.$primary-color;
            transition: background-color vars.$transition-time;
            border-radius: 0.75rem;
            padding: 2rem;
        }
    }

    &__btn-close {
        @include mixins.absolute-position($top: 0.6rem, $left: calc(100% - 1.5rem));
        display: none;
        transform: translateX(-50%);

        &:hover,
        &:focus-visible {
            box-shadow: 0 0 0 1px vars.$primary-color;
            outline-color: vars.$primary-color;
        }

        @include mixins.media-920 {
            display: flex;
        }
    }

    &__close-icon {
        fill: vars.$primary-color;
        height: 1.75rem;
        width: 1.75rem;
        transition: vars.$transition-time;
    }
}
