@use "../1-bases/mixins" as mixins;

.overlay {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(0.125rem);

    &--open {
        display: none;
        opacity: 100%;

        @include mixins.media-920 {
            display: block;
        }
    }
}
