@use "../1-bases/variables" as vars;
@use "../1-bases/mixins" as mixins;

$stack-wrapper-gap: 2rem;
$stack-item-size: 6.5rem;

.stacks {
    overflow: hidden;

    &__tech-list {
        padding: 1rem;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        gap: $stack-wrapper-gap;

        &:hover .stacks__sub-list {
            animation-play-state: paused;
        }
    }

    &__sub-list {
        @include mixins.flex($gap: $stack-wrapper-gap, $justify: flex-start);
        animation: slide-left 15s linear infinite;

        &:last-child {
            animation: slide-right 15s linear infinite;
            transform: translateX(calc(-12 * ($stack-wrapper-gap + $stack-item-size)));
        }
    }

    &__tech-item {
        transition: vars.$transition-time;

        &:hover,
        &:focus-visible {
            transform: scale(1.15);

            .stacks__tech-icon {
                box-shadow: 0.25rem 0.25rem 0.75rem #00000091;
            }
        }
    }

    &__tech-icon {
        height: $stack-item-size;
        width: $stack-item-size;
        background-color: vars.$default-dark;
        padding: 1rem;
        border-radius: 0.5rem;
        box-shadow: 0.25rem 0.25rem 0.5rem #00000091;
        pointer-events: none;
        transition: box-shadow vars.$transition-time;
    }
}

@keyframes slide-left {
    100% {
        transform: translateX(calc(($stack-wrapper-gap + $stack-item-size) * -12));
    }
}

@keyframes slide-right {
    100% {
        transform: translateX(0);
    }
}
